html {	
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: black;
	line-height: 1.4;
	font-size: 110%;
	box-sizing: border-box;
	}
	
	*,::before, *::after {
	box-sizing: inherit;
	}
	
	h1, h2, h3, h4 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	font-size: 200%;
	}
	
	.background {
	background-color: black;
	}
   header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
      }
      
      header ul {
      display: flex;
      }
      
      .hero-img {
      display: block;
      margin: 0 auto;
      }
      
      img {
      width: 100%;
      }
      
      .wrapper {
      max-width: 1200px;
      margin: 0 auto;
      padding: 2em 0;
      }
      
      nav ul {
      list-style-type: none;
      padding-left: 0
      }
      
      nav {
      text-align: left;
      }
      
      nav ul li {
      display: inline;
      }
      
      nav a:link {
      padding: .5em .75em .5em .75em;
      border-radius: 8px;
      }
   